{
    "node": "",
    "databases": {
        "system_monitoring": {
            "host": "",
            "user": "",
            "password": "",
            "database": ""
        },
        "whatsapp": {
            "host": "",
            "user": "",
            "password": "",
            "database": ""
        }
    },
    "resources-alerts-channel": "",
    "ping-alerts-channel": "",
    "thresholds": {
        "cpu": 30,
        "temperature": 85,
        "memory": 90,
        "disk": 90,
        "network": 100,
        "io": 50,
        "failures":  5
    }
}
